#choices1 { 
  display: flex;
  justify-content: center;
  align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    text-align: center;
    background-color:gray;
    border-style: solid;
    border-radius: 20px;
    border-bottom: 2px solid #d2d2d2;
    box-sizing: border-box;
    font-size: 1.5em;
    height: 2.5em;
    margin: 0.5em 0;
    padding-left: 0.75em;
    width: 50%;
    margin-right: 1em;
}
#choice1:hover{
  animation-name: mymove;
  animation-duration:2s; 
  cursor: pointer;
}
@keyframes mymove{
from {
    transform: scaleY(0);
    transform-origin:bottom ;
   
  }
  to {
    transform: scaleY(-100%);
    transform-origin:100;
  }
}

@keyframes changecolor{
  from {
    background-color: gray;
     
    }
    to {
     background-color:black;
     
    }
  }

  @keyframes changecolor2{
    from {
      background-color:black;
       
      }
      to {
       background-color:gray;
      }
    }

    @keyframes changecolor3{
      from {
        border-color: white
         
        }
        to {
         border-color:yellow;
        }
      }


        @keyframes changecolor5{
          from {
            background-color:black
             
            }
            to {
              background-color:lightpink;
            }
          }

          @keyframes changewidth1{
            from {
              width: 200px;
               
              }
              to {
                width: 150px;
              }
            }
            @keyframes changewidth2{
              from {
                width: 150px;
                 
                }
                to {
                  width: 100px;
                }
              }
              @keyframes changewidth3{
                from {
                  width: 100px;
                   
                  }
                  to {
                    width: 50px;
                  }
                }
                @keyframes changewidth4{
                  from {
                    width: 50px;
                     
                    }
                    to {
                      width: 0px;
                    }
                  }
                  @keyframes changewidth5{
                    from {
                      width: 0px;
                       
                      }
                      to {
                        width: 200px;
                      }
                    }
    @keyframes changesize1{

      from{
        width:0px;
        height: 0px;
        background-color:black
      }

      to{
        width: 200px;
        height:200px;
        background-color:yellow;
      }
    }

    @keyframes changesize2{

      from{
        width:0px;
        height: 0px;
        background-color:black
      }

      to{
        width: 120px;
        height:120px;
        background-color:lightpink;
      }
    }
                 
                          
              



